{% extends "customer/base.html" %}

 {% block profile %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row">
    <div class="col-sm-3">
        {% include 'customer/profile_sidebar.html' %}
        
    </div>

    <div class="col-sm-9">
        <form action="" method="POST">
    {% csrf_token %}
    <div class="mt-5" style="text-align: center; background-color: azure;">
    {{form.as_p}}
    <input type="submit" value="Update" class="btn btn-primary">
    </div>
</form> 


    </div>
</div> 








{% endblock profile %}


