{% extends "customer/base.html" %}

{% block product-details %}
{% load static %}

<h1>Mobile</h1>
<div class="container">
    <div class="row my-3">
        {% for i in img %}
        <div class="col-sm-3 my-3">
        
         <img src="{{ i.image.url }}" width="300px" height="400" alt="not"><br>

           {{i.product.name}} <br>

          <b> Rs. {{i.product.price}} </b>

        </div> 
        {% endfor %}
    </div>
  </div>        

  <h1>Laptop</h1>
<div class="container">
    <div class="row my-3">
        {% for i in img %}
        <div class="col-sm-3 my-3">
        
         <img src="{{ i.image.url }}" width="300px" height="400" alt="not"><br>

           {{i.product.name}} <br>

          <b> Rs. {{i.product.price}} </b>

        </div> 
        {% endfor %}
    </div>
  </div>        

  <h1>Car</h1>
<div class="container">
    <div class="row my-3">
        {% for i in img %}
        <div class="col-sm-3 my-3">
        
         <img src="{{ i.image.url }}" width="300px" height="400" alt="not"><br>

           {{i.product.name}} <br>

          <b> Rs. {{i.product.price}} </b>

        </div> 
        {% endfor %}
    </div>
  </div>        





{% endblock product-details %}