<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        .message{
            color:red;
        }

    </style>
  </head>
  <body>
    <form action="" method="POST" novalidate>
      {% csrf_token %}
       {% for fm in form %}
      <div class="form-group">
        {{fm.label_tag}}{{fm}}
        <small class="text-danger">{{fm.errors}} </small> <br />
        <br />
       
      </div>
      {% endfor %}
     <small class="message"> {{message}} </small>
<br> <br>
      <input type="submit" value="LOGIN" />
    </form>
  </body>
</html>
