{% extends "customer/base.html" %} {% block product-details %} {% load static %}

<style>
  .cont {
    display: left;
    margin: 15px;
    justify-content: space-around;
  }

  .icon{
    content: "\f004";
    display: block;
    font-size: 31px;   
  } 

  .heart-icon {
    font-size: 24px; /* Adjust the size as needed */
    color: aqua; /* Original color of the heart icon */

    transition: blue; /* Smooth color transition */

}

.wishlist-button.added .heart-icon {
    color: red;
}
</style>
<h1>{{img.product.sub.name}}</h1>

<div class="row ml-3">
  <div class="col-sm-3" style="background-color: lightblue;">
    <img src="{{ img.image.url }}" width="300px" height="400" alt="not" />
    <br/>
    <form action="/product/add-to-cart"> 
      {% csrf_token %}
        <div class="cont">
        <input type="hidden" name="prod_id" value="{{img.id}}" id="prod_id">
        <button type="submit" class="btn btn-warning shadow px-5 py-2">Add To Cart</button>
        <button type="submit" class="btn btn-info shadow px-5 py-2">Buy Now</button>
        
        
      </div>
    </form>


  <div class="product float-right"  style="position: relative; top:-447px">
    <button class="wishlist-button {% if flag %} added {% endif %}"  data-product-id="{{ img.id }}"><i class="fa fa-heart heart-icon"></i></button>



  </div>
    
  </div>
  <div class="col-sm-4">
    {{img.product.name}} <br />

    <b> Rs. {{img.product.price}} </b> <br />
    {{img.product.description}}
  </div>
  
</div>


<script>
  document.querySelectorAll('.wishlist-button').forEach(function(button) {
      button.addEventListener('click', function() {
          const productId = this.getAttribute('data-product-id');
          const action = this.classList.contains('added') ? 'remove' : 'add';
          console.log(productId)
          console.log(action)


          const csrfToken = getCookie('csrftoken');
          
          const headers = {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrfToken,
          };

          if (action === 'add') {
              fetch(`/add_to_wishlist/${productId}/`, { method: 'POST', headers: headers })
              .then(response => response.json())
              .then(data => {
                  if (data.message === 'Item added to wishlist') {
                      this.classList.add('added');
                  }
              });
          } else if (action === 'remove') {
              fetch(`/remove_from_wishlist/${productId}/`, { method: 'POST', headers: headers })
              .then(response => response.json())
              .then(data => {
                  if (data.message === 'Item removed from wishlist') {
                      this.classList.remove('added');
                  }
              });
          }
      });
  });

  function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
  }
</script>



{% endblock product-details %}
