{% extends "customer/base.html" %} {% block product-details %} {% load static %}

<style>
  .cont {
    display: left;
    margin: 15px;
    justify-content: space-around;
  }

  .icon{
    content: "\f004";
    display: block;
    font-size: 31px;   
  } 

  .heart-icon {
    font-size: 24px; /* Adjust the size as needed */
    color: aqua; /* Original color of the heart icon */

    transition: blue; /* Smooth color transition */

}

.wishlist-button.added .heart-icon {
    color: red;
}

.checked {
    color: orange;
}


</style>


<h1>{{img.product.sub.name}}</h1> <br>



<div class="row ml-4">
  <div class="col-sm-4" style="background-color: lightblue;">

    {% comment %} <img src="{{ img.image.url }}" width="300px" height="400" alt="not" /> {% endcomment %}


    <div >

      <div align="left"  id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              {% for image in products.image_set.all %}
              
                  <div style="background-color:#f1ecec" class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                      <img style="width: auto;height: 700px;padding: 2px;" src="{{image.image.url}}" alt="Image not available" />
                  </div>
              {% empty %}
                  <h5>Image not available</h5>
              {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>
    
   







    <br/>
    <form action="/product/add-to-cart"> 
      {% csrf_token %}
        <div class="cont">
        <input type="hidden" name="prod_id" value="{{img.id}}" id="prod_id">
        <button type="submit" class="btn btn-warning shadow px-5 py-2">Add To Cart</button>
        
        
      </div>
    </form>
    <button type="submit" class="btn btn-info shadow px-5 py-2" id="checkout-button" >Buy Now</button>

    

  <div class="product float-right"  style="position: relative; top:-787px">
    <button class="wishlist-button {% if flag %} added {% endif %}"  data-product-id="{{ img.id }}"><i class="fa fa-heart heart-icon"></i></button>

  </div>
    
  </div>
  <div class="col-sm-4">
    {{img.product.name}} <br />

    <b> Rs. {{img.product.price}} </b> <br />
    {{img.product.description}}
  </div>

  <div class="form-group">
    <label for="email" style="display:none;">Email: </label>
    <input style="display:none;" type="email" name="email" id="email" class="form-control" placeholder="Email">
</div> 

</div> <br><br>


{% comment %} add rattings   {% endcomment %}

 
 <h3 class="card-title">Avg rating:
    <span class="fa fa-star {% if average_rating > 0 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if average_rating > 1 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if average_rating > 2 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if average_rating > 3 %} checked {% endif %}" ></span>
    <span class="fa fa-star {% if average_rating > 4 %} checked {% endif %}"></span>
</h3> 

{% comment %} <h3>Reviews:</h3>
{% for ratting in rattings %}
{{ratting.comments}} <br>

{% endfor %} {% endcomment %}

<div id="reviews">
    {% for comment in rattings %}
      <div class="review">{{ comment.comments }}</div>
    {% endfor %}
  </div>
  
  <button id="show-more">Show more</button>





<script>
  document.querySelectorAll('.wishlist-button').forEach(function(button) {
      button.addEventListener('click', function() {
          const productId = this.getAttribute('data-product-id');
          const action = this.classList.contains('added') ? 'remove' : 'add';
          console.log(productId)
          console.log(action)


          const csrfToken = getCookie('csrftoken');
          
          const headers = {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrfToken,
          };

          if (action === 'add') {
              fetch(`/add_to_wishlist/${productId}/`, { method: 'POST', headers: headers })
              .then(response => response.json())
              .then(data => {
                  if (data.message === 'Item added to wishlist') {
                      this.classList.add('added');
                  }
              });
          } else if (action === 'remove') {
              fetch(`/remove_from_wishlist/${productId}/`, { method: 'POST', headers: headers })
              .then(response => response.json())
              .then(data => {
                  if (data.message === 'Item removed from wishlist') {
                      this.classList.remove('added');
                  }
              });
          }
      });
  });

  function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
  }
  
</script>

{% comment %} payment scripts {% endcomment %}

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe('{{ stripe_publishable_key }}');
    var checkoutButton = document.getElementById('checkout-button');
    

    checkoutButton.addEventListener('click', function () {

    
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch("{% url 'api_checkout_session' id=img.product.id %}", {
            method: 'POST',
             body: JSON.stringify(
                { email: email }
            ) 
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.sessionId });
            })
            .then(function (result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using `error.message`.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    });
</script>

  {% comment %} show more review {% endcomment %}



<script>
    var page = 2;  // Initial page for loading more reviews
  
    $('#show-more').on('click', function() {
      $.ajax({
        url: '/show-more-review/',  // URL to fetch more reviews
        data: { page: page, prod_id:{{img.product.id}} },
        success: function(data) {
          if (data.reviews) {
            var $reviews = $('#reviews');
            for (var i = 0; i < data.reviews.length; i++) {
              var review = data.reviews[i];
              $reviews.append('<div class="review">' + review.text + '</div>');
            }
            page++;
          } else {
            $('#show-more').prop('disabled', true).text('No more reviews');
          }
        }
      });
    });
  </script>
  

  {% comment %} crasoul {% endcomment %}


<script>

var myCarousel = document.querySelector('#myCarousel')
var carousel = new bootstrap.Carousel(myCarousel, {
  interval: 100000
})

$('.carousel .carousel-item').each(function(){
    var minPerSlide = 4;
    var next = $(this).next();
    if (!next.length) {
    next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    for (var i=0;i<minPerSlide;i++) {
        next=next.next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        
        next.children(':first-child').clone().appendTo($(this));
      }
});


</script>
{% endblock product-details %}
