/* body {
    background: rgb(225, 227, 222);
}

.container {
    border: 1px solid black;
    height: 205px;
    width: 590px;
    padding: 5px;
    margin-top: 180px;
    margin-left: 350px;
    border-radius: 5px;
}

.container img {
    width: 200px;
    height: 200px;
    padding: 3px;
    border-radius: 7px;
}

span {
    padding: 1px;
    font-size: 60px;
    color: green;
    vertical-align: 128%;
} */