{% extends "customer/base.html" %}


{% block search-tag %}

{% endblock search-tag %}

{% block search %}



<style>
    .val {
      border-right: 3px solid black;
      height: 100%%;
    }
    </style>
    <h2 class = "text-center">Search Results for "{{ query }}"</h2>

<div class="row mt-4">
    <div class="val col-md-3">
        <h1>Filters</h1>  <br>
        <h3>By price</h3> <br>
        {% comment %} <a href="{% url 'item'  'bellow' query  %}">{{ query }} under 30000</h3></a> <br> <br>
        <a href="{% url 'item'  'above' query  %}">{{ query }} above 30000</h3></a> {% endcomment %}

        <a href="{% url 'search' %}?test=1&search={{query}}">{{ query }} under 30000</h3></a> <br> <br>
        <a href="{% url 'search' %}?test=2&search={{query}}">{{ query }} above 30000</h3></a> <br> <br>

        <h3>by Brand</h3> <br>
    </div>
    
    <div class="col-md-9"> 
        
        
        
        <!-- Search results go here -->
        {% for img in image %}
        <a href="{% url 'product-detail' img.id %}">
        <div class="col-sm-3">
            <img src="{{ img.image.url }}" alt="" height="300px" width="300px">
        </div>
            <div class="col-sm-6">
            {{img.product.name}}  <b>  Rs. {{img.product.price}}</b> </b> <br>{{img.product.description|truncatewords:20}}
        </div>
    </a>
         <hr>
        {% endfor %}
    </div>
</div> 







{% endblock search %}
