{% extends 'customer/base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'payment/css/order_track.css' %}">
<script src="{% static 'payment/js/ratting.js' %}"></script>


    <div class="container-fluid my-5 d-sm-flex justify-content-center">
        <div class="card px-2">
            <div class="card-header bg-white">
              <div class="row justify-content-between">
                <div class="col">
                    <p class="text-muted" style="display:none;"> Order ID  <span class="font-weight-bold text-dark">1222528743</span></p> 
                    <p class="text-muted" style="display:none;"> Place On <span class="font-weight-bold text-dark">12,March 2019</span> </p></div>

                    <div class="flex-col my-auto">
                         {% if  order.status == "Shipped" or order.status == "Placed" %}
                         
                         <a href="{% url 'order-cancel' image.product.id image.id order.id %}">Cancel Order </a>
                        
                         <h6 class="ml-auto mr-3">
                            
                        </h6>
                         {% endif %}
                       
                    </div>

              </div>
            </div>
            <div class="card-body">
                <div class="media flex-column flex-sm-row">
                    <div class="media-body ">
                        <h5 class="bold">{{object.name|slice:50}}</h5>
                        <h4 class="mt-3 mb-4 bold"> <span class="mt-5">&#x20B9;</span> {{object.price}} <span class="small text-muted"> via (COD) </span></h4>
                        {% comment %} <p class="text-muted">Tracking Status on: <span class="Today">11:30pm, Today</span></p>
                        <button type="button" class="btn  btn-outline-primary d-flex">Reached Hub, Delhi</button>     {% endcomment %}
                    </div> <img src="{{image.image.url}}" alt="" height='180' width='180'>
                </div>
            </div>
            
            <div class="row px-3">
                <div class="col">
                    <ul id="progressbar" >

                        
                        <li class="step0 active " id="step1">PLACED</li>

                        {% if order.status == "Shipped" %}

                        <li class="step0 active text-center " id="step2">SHIPPED</li>
                        <li class="step0 text-muted text-right" id="step3">DELIVERED</li>
                        
                        {% elif order.status == 'Delivered' %}
                        <li class="step0 active text-center " id="step2">SHIPPED</li>
                        <li class="step0 active text-right" id="step3">DELIVERED</li>

                        {% else %}
                        
                        <li class="step0 text-muted  text-center " id="step2">SHIPPED</li>
                        <li class="step0 text-muted  text-right" id="step3">DELIVERED</li>

                        {% endif %}
                    </ul>
                    
                </div>
            </div>
            
            
        </div>
        
    </div> 
    <div style="text-align:center;">

    {% if order.status == 'Delivered' %}

        <button class = "button" onclick="show('popup')"> <h1>Please Rate This Order</h1> </button>
        {% endif %} 
        </div>

          <div class="popup" id="popup" style="display:none; height:900px; width:800px;">

              
              <div class="container">
                  <button class="star">&#9734;</button>
                  <button class="star">&#9734;</button>
                  <button class="star">&#9734;</button>
                  <button class="star">&#9734;</button>
                  <button class="star">&#9734;</button>
                  <p class="current-rating">0 of 5</p>
                  
                  <form action="" method="POST" id="form_data">
                    {% csrf_token %}

                <textarea name="comment" placeholder="Write your review here" id="dataInput"></textarea> <br>
                <button id = "submitButton">Submit Rating</button> <br> <br>
         
            </form>
            </div>

            <a href="" onclick="hide('popup')">Close</a>
          </div>

        
        <br> <br>
<script>

const starst=document.querySelectorAll('.star');
console.log("hello")


const current_ratings=document.querySelector('.current-rating');

var value_of_star 

starst.forEach((star,index)=>{
  star.addEventListener('click',()=>{

    let current_star=index+1;
    current_ratings.innerText=`${current_star} of 5`;

    starst.forEach((star,i)=>{
        if(current_star>=i+1){
          star.innerHTML='&#9733;';
        }else{
          star.innerHTML='&#9734;';
        }
    });

    value_of_star = current_star
  }); 
});
/*

document.getElementById('submitButton').addEventListener('click', function () {

    const inputData = document.getElementById('dataInput').value;

    // Define the URL of your backend API
    const backendUrl = '/ratting/submit/';

    // Create an object with the data to send
    const data = {
        input: inputData,
        value:value_of_star,
    };

    // Make a POST request to the backend
    fetch(backendUrl, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        }
        throw new Error('Network response was not ok');
    })
    .then(responseData => {
        // Handle the response from the backend here
        console.log('Backend response:', responseData);
    })
    .catch(error => {
        console.error('Error:', error);
    });
});


*/
$('#submitButton').on('click', function (e) {
    e.preventDefault();
    
    $.ajax({
        type: 'POST',
        // url: '/assessment/add-assessment/',
        url: '/ratting/submit/',
        data: $("#form_data").serialize(),

        success: function (response) {
           
            console.log('Data:- ', response)
            

        },
        error: function (xhr) {
            console.log(xhr)
        }
    });
});



</script>

{% endblock content %}