{% extends 'customer/base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'payment/css/order_track.css' %}">
<script src="{% static 'payment/js/ratting.js' %}"></script>

<style>
    .checked{
        color:orange;
    }
</style>

    <div class="container-fluid my-5 d-sm-flex justify-content-center">
        <div class="card px-2">
            <div class="card-header bg-white">
              <div class="row justify-content-between">
                <div class="col">
                    <p class="text-muted" style="display:none;"> Order ID  <span class="font-weight-bold text-dark">1222528743</span></p> 
                    <p class="text-muted" style="display:none;"> Place On <span class="font-weight-bold text-dark">12,March 2019</span> </p></div>
                    <div class="flex-col my-auto">
                         {% if  order.status == "Shipped" or order.status == "Placed" or order.status == "Pending" %}
                         
                         <a href="{% url 'order-cancel' image.product.id image.id order.id %}">Cancel Order </a>
                        
                         <h6 class="ml-auto mr-3">
                            
                        </h6>
                         {% endif %}
                       
                    </div>

              </div>
            </div>
            <div class="card-body">
                <div class="media flex-column flex-sm-row">
                    <div class="media-body ">
                        <h5 class="bold">{{object.name|slice:50}}</h5>
                        <h4 class="mt-3 mb-4 bold"> <span class="mt-5">&#x20B9;</span> {{object.price}} <span class="small text-muted"> via (COD) </span></h4>
                        {% comment %} <p class="text-muted">Tracking Status on: <span class="Today">11:30pm, Today</span></p>
                        <button type="button" class="btn  btn-outline-primary d-flex">Reached Hub, Delhi</button>     {% endcomment %}
                    </div> <img src="{{image.image.url}}" alt="" height='180' width='180'>
                </div>
            </div>
            
            <div class="row px-3">
                <div class="col">
                    <ul id="progressbar" >

                        {% if order.status == 'Placed' %}
                        <li class="step0 active" id="step1">PLACED</li>
                        <li class="step0 text-muted text-center " id="step2">SHIPPED</li>
                        <li class="step0 text-muted text-right" id="step3">DELIVERED</li>

                        {% elif order.status == "Shipped" %}
                        <li class="step0 active " id="step1">PLACED</li>

                        <li class="step0 active text-center " id="step2">SHIPPED</li>
                        <li class="step0 text-muted text-right" id="step3">DELIVERED</li>
                        
                      


                        {% elif order.status == 'Delivered' %}
                        <li class="step0 active " id="step1">PLACED</li>
                        <li class="step0 active text-center " id="step2">SHIPPED</li>
                        <li class="step0 active text-right" id="step3">DELIVERED</li>

                        {% else %}
                        <li class="step0 active " id="step1">PLACED</li>
                        
                        <li class="step0 text-muted  text-center " id="step2">SHIPPED</li>
                        <li class="step0 text-muted  text-right" id="step3">DELIVERED</li>

                        {% endif %}
                    </ul>
                    
                </div>
            </div>
            
            
        </div>
        
    </div> 
    {% if rattings %}

    {% for rat in rattings  %}
    <h2>You Rate This Product</h2>

    <h3>
    <span class="fa fa-star {% if  rat.ratting > 0 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if  rat.ratting > 1 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if  rat.ratting > 2 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if  rat.ratting > 3 %} checked {% endif %}" ></span>
    <span class="fa fa-star {% if  rat.ratting > 4 %} checked {% endif %}"></span>
</h3> 
    </h3>
   
    
    
    {% endfor %}
    
    
    {% else %}
    <div style="text-align:center;">

    {% if order.status == 'Delivered' %}

        <button class = "button" onclick="show('popup')"> <h1>Please Rate This Order</h1> </button>
        {% endif %} 
        </div>

          <div class="popup" id="popup" style="display:none; height:700px; width:800px;">

              
              <div class="container">
                  <button class="star">&#9734;</button>
                  <button class="star">&#9734;</button>
                  <button class="star">&#9734;</button>
                  <button class="star">&#9734;</button>
                  <button class="star">&#9734;</button>
                  <p class="current-rating">0 of 5</p>
                  
                  <form action="" method="POST" id="form_data">
                    {% csrf_token %}

                <textarea name="comment" placeholder="Write your review here" id="dataInput"></textarea> <br>
                <button id = "submitButton">Submit Rating</button> <br> <br>
         
            </form>
            </div>

            <a href="" onclick="hide('popup')">Close</a>
          </div>

        
        <br> <br>

        {% endif %}
<script>

const starst=document.querySelectorAll('.star');
console.log("hello")


const current_ratings=document.querySelector('.current-rating');

var value_of_star 

starst.forEach((star,index)=>{
  star.addEventListener('click',()=>{

    let current_star=index+1;
    current_ratings.innerText=`${current_star} of 5`;

    starst.forEach((star,i)=>{
        if(current_star>=i+1){
          star.innerHTML='&#9733;';
        }else{
          star.innerHTML='&#9734;';
        }
    });

    value_of_star = current_star
  }); 
});



$(document).ready(function () {
    $('#submitButton').on('click', function (e) {
        e.preventDefault();

        // Serialize the form data
        var formData = $("#form_data").serialize();

        // Additional data to send
        var additionalData = {
            value_of_star: value_of_star,
            prod_id: {{image.product.id}},
           
        };
        var csrfToken = $('[name=csrfmiddlewaretoken]').val();

        // Merge the form data and additional data
        var combinedData = formData + '&' + $.param(additionalData);

        $.ajax({
            type: 'POST',
            url: '/ratting/submit/',  
            data: combinedData,
            headers: { 'X-CSRFToken': csrfToken },
            dataType: 'json', 

            success: function (response) {
                console.log('Data:- ', response);
                location.reload();
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    });
});


</script>

{% endblock content %}